div.page-header {
    text-align: center;
}
h2 i {
    padding-left: 1em;
}
div.linkbar {
    padding-bottom: 16px;
    text-align: center;
}

div.topic {
    border: 2px solid #ddd;
    background: #efefef;
    padding: 5px;
    margin-bottom: 1em;
    border-radius: 6px;
    vertical-align: text-top;
}

div.topic i.fa {
    width: 16px;
}
