{% extends "nav.html" %}
{% block title %}ixan.no{% endblock %}
{% block subcontent %}
        <div class="span4 offset2">
            <h2>projects<i class="icon-wrench"></i></h2>
        </div>
        <div class="span4">
            <h2>blag<i class="icon-comments"></i></h2>
            <ul class="unstyled posts">
                {% for slug, post in ph.items() %}
                <li><a href="{{ slug }}">{{ post.0 }}</a><br/><em></em></li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
